{% extends 'profile_user/base.html' %}

{% load static %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}
<div class="profile_info_block">
    <div class="profile_photo_block">
        <div class="profile_photo">
            {% if info_user.photo %}
                <img src="/media/{{ info_user.photo }}">

            {% else %}
                <img src="{% static '/profile_user/img/pepe_user_photo.jpg' %}">
            {% endif %}
        </div>
        {% if name_user == k.username %}
<!--            <a style="margin-left: 15%;" href="#1">n</a>-->
        {% elif k != name_user %}
        {% csrf_token %}
            <button class="subs" style=""
                    id="subs" value="{{name_user}}">Подписаться</button>
        <button style="display:none;"
                    id="un_subs" class="un_subs" value="{{name_user}}">Отписаться</button>

        {% endif %}
        <div class="sub_block">
            <ul>
                <li><a href="#sub1">Подписки</a></li>
                <li>{{count_subscriptions}}</li>
            </ul>
            <div class="sub_block_line"></div>
            <ul class="right_ul">
                <li><a href="#sub2">Подписчиков</a></li>
                <li>{{count_subscribers}}</li>
            </ul>
        </div>
    </div>
    <div class="info_profile_block">

        <div class="name_profile">
            <h1>{{ name_user }}</h1>
        </div>
        <div class="country_profile">
        <h3>Страна:</h3>
            <p>{{info_user.country}}</p>
        </div>
        <div class="about_me_profile">
            <h3>Обо мне:</h3>
            <p>{{info_user.about_me}}</p>
        </div>
        <ul>
            <li><a href="https://www.youtube.com/channel/UCfgKfMo-zs9cjTyF0iQYsxA"><img src="{% static 'profile_user/img/youtub%202.png' %}"></a></li>
            <li><a href="https://www.instagram.com/lockedclub/"><img src="{% static 'profile_user/img/insta%202.png' %}"></a></li>
            <li><a href="https://vk.com/lockedclub"><img src="{% static 'profile_user/img/vk%203.png' %}"></a></li>
        </ul>
    </div>
</div>

<div class="line_profile"></div>
<div class="music_profile">
    <h1>Все песни</h1>
    <div class="songs_full2">
        {% for m in music_profile %}
            <div id="{{m.share}}" class="track">
                <div class="shadow_track2">
                    <p class="name_song2">{{m.name_song}}</p>
                    {% if m.feat %}
                        <a href="artist_page.html" class="name_artist">{{m.avtor}} feat. {{m.feat}}</a>
                    {% else %}
                        <a href="artist_page.html" class="name_artist">{{m.avtor}}</a>
                    {% endif %}
                    <button style="margin-right: 20px;" value="val_play1"><a href="#" download="/media/{{m.song_path}}">
                        <img src="{% static 'profile_user/img/donwload.png' %}"></a>
                    </button>
                    <button value="{{m.share}}" style="margin-left:45px;"  class="delete_song_by_user" name="{{user.username}}">
                            <div style="width: 20px;height: 6px;background: #E0DFDF; margin-top: 10px;margin-right: -10px;"></div>
                        </button>
                    <div style="" class="time_track">2:33</div>

                </div>
                <div class="photo_track">
                    <img class="photo_track_img" src="/media/{{m.photo_song}}">
                    <div class="black_img">
                        <button value="/media/{{m.song_path}}" id="play1" class="buter_track2"></button>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="music_menu">
        <ul>
            <li><button class="music_but_menu">Все песни</button></li>
            <li><button class="music_but_menu">Альбомы</button></li>
            <li><button class="music_but_menu">Загруженные песни</button></li>
            <li><button class="music_but_menu">Плейлисты</button></li>

        </ul>
    </div>
</div>
{% endblock %}
{% block popup_sub %}
<div id="sub1" class="popup">
    <a href="" class="popup_area"></a>
    <div class="popup_body">
        <div class="popup_content">
            <h1>Подписки</h1>
            {% for name in subscriptions %}
            <button onclick="window.location.href = 'profile.html';" class="block_sub_name">
                <div class="photo_sub_block">
                    {% if name.profile.photo %}
                        <a href="{% url 'profile' name.username %}"><img src="/media/{{name.profile.photo}}"></a>
                    {% else %}
                    <a href="{% url 'profile' name.username %}"><img src="{% static '/profile_user/img/pepe_user_photo.jpg' %}"></a>
                    {% endif %}
                </div>
                <a class="a_sub_block" href="{% url 'profile' name.username %}"><h3>{{ name.username }}</h3></a>
            </button>
            {% endfor %}

        </div>
    </div>
</div>
<div id="sub2" class="popup">
    <a href="" class="popup_area"></a>
    <div class="popup_body">
        <div class="popup_content">
            <h1>Подписки</h1>
            {% for name in subscribers %}
            <button onclick="window.location.href = 'profile.html';" class="block_sub_name">
                <div class="photo_sub_block">
                    {% if name.profile.photo %}
                        <a href="{% url 'profile' name.username %}"><img src="/media/{{name.profile.photo}}"></a>
                    {% else %}
                    <a href="{% url 'profile' name.username %}"><img src="{% static '/profile_user/img/pepe_user_photo.jpg' %}"></a>
                    {% endif %}
                </div>
                <a class="a_sub_block" href="{% url 'profile' name.username %}"><h3>{{ name.username }}</h3></a>
            </button>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}